* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #008DDA;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  gap: 50px;
  margin-top:50px;
}

.btn {
  display: flex;
  cursor: pointer;
  border: none;
  background-color: #F7EEDD;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  border-radius: 10px;
  border: 1px solid black;
  width: 230px;
  font-size: 19px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menucontainer {
  display: flex;
  gap:20px;
}

.menu {
  background-color: #ACE2E1;
  padding: 10px;
  border-radius: 20px;
  width: 285px;
  height: 55px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.menu input {
  margin: 10px;
  width: 50px;
  height: 20px;
}


.imageContainer {
  background-color: #ffc65c;
  width: 500px;
  height: 600px;
  border-radius: 20px;
}

img {
  width: 400px;
  height: 500px;
  margin: 50px;
  border-radius: 20px;

}

